<h1>Laporan Kasbon</h1>
<br>
<table border=0>
<tr>
	<td>Kode Pegawai</td>
	<td>: <b>$header.masterPegawai.kodePegawai</b></td>
</tr>
<tr>
	<td>Nama Pegawai</td>
	<td>: <b>$header.masterPegawai.namaPegawai</b></td>
</tr>
<tr>
	<td>Periode</td>
	<td>: <b>$mulai</b> s/d <b>$sampai</b></td>
</tr>
<tr>
	<td>Saldo Awal</td>
	<td>: <b>Rp $!numberTool.format('#,##0',$!saldoAwal.saldoAwal)</b></td>
</tr>
<tr>
	<td>Saldo Akhir</td>
	<td>: <b>Rp $!numberTool.format('#,##0',$header.saldoAkhir)</b></td>
</tr>
</table>
<br>
<h3>Rincian Kasbon :</h3>
	<table width=70% border=1 cellpadding=0 cellspacing=0>
		<tr>
			<th>Tanggal</th>
			<th>Keterangan</th>
			<th>Nilai Kasbon</th>
			<th>Nilai Di Bayar</th>
			<th>Saldo</th>
		</tr>
		#foreach($list in $all)
		<tr>
			<td><center>$list.tanggal</center></td>
			<td>$list.ket</td>
			#if ($list.type=='kasbon')
			<td align=right>Rp $!numberTool.format('#,##0',$list.nilai)</td>
			<td>&nbsp</td>
			#else
			<td>&nbsp</td>
			<td align=right>Rp $!numberTool.format('#,##0',$list.nilai)</td>
			#end
			<td align=right>Rp $!numberTool.format('#,##0',$list.saldoAkhir)</td>
		</tr>
		#end
		<tr>
			<td colspan=2><b>Jumlah</b></td>
			<td align=right><b>Rp $!numberTool.format('#,##0',$jumlahKasbon)</b></td>
			<td align=right><b>Rp $!numberTool.format('#,##0',$jumlahBayar)</b></td>
			<td>&nbsp</td>
		</tr>
	</table>
