<html>
<head>
<title>Reimburse</title>
<script type="text/javascript">

    jQuery(function(){

        //datepicker
        var pickerOpts = {
		dateFormat: "yy-mm-dd",
        };
        jQuery('input[name=tanggal]').datepicker(pickerOpts);

    });

	</script>
</head>

<body>
<h2>Entry Reimburse</h2>
<form action="" method=POST>
<table>
	<tr>
		<td>Nama Pegawai</td>
		<td>
			<select name=masterPegawai>
				<option>-Pilih Pegawai-</option>
				#foreach ($daftarPegawai in $daftarPegawai)
				<option value=$!daftarPegawai.id>$!daftarPegawai.namaPegawai</option>
				#end
			</select>
		</td>
	</tr>
	<tr>
		<td>Type Reimburse</td>
		<td>
			<select name=typeReimburse>
				<option>-Pilih Type Reimburse-</option>
				#foreach ($reimburse in $type)
				<option value=$!reimburse.id>$!reimburse.typeReimburse</option>
				#end
			</select>
		</td>
	</tr>
	<tr>
		<td>Tanggal</td>
		<td><input type="text" name='tanggal' size=15></td>
	</tr>
	<tr>
		<td>Nilai Reimburse</td>
		<td><input type="text" name='nilai' size=15></td>
	</tr>
	<tr>
		<td>Keterangan</td>
		<td><input type="text" name='ket' size=25></td>
	</tr>
	<tr>
		<td><input type="submit" value="Simpan"></td>
	</tr>
</table>
</form>
</body>
</html>