<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Master Pegawai</title>

</head>
<body>
<h2>Master Pegawai</h2>
<form action="" method=POST>
<table>
	<tr>
		<td>Kode Pegawai</td>
		<td><input type="text" name=kodePegawai value='$!pegawai.kodePegawai'></td>
	</tr>
	<tr>
		<td>Nama Pegawai</td>
		<td><input type="text" name=namaPegawai value='$!pegawai.namaPegawai'></td>
	</tr>
	<tr>
		<td>Alamat</td>
		<td><input type="text" name=alamat value='$!pegawai.alamat'></td>
	</tr>
	<tr>
		<td>No Telp</td>
		<td><input type="text" name=noTelp value='$!pegawai.noTelp'></td>
	</tr>
	<tr>
		<td><input type="submit" value="Simpan"></td>
	</tr>
</table>
</form>
</body>
</html>