/* START THE CODE FOR THE MENUS */
/* IF YOU EDIT THE SUB MENU WIDTH - EDIT 160 IN 4 PLACES TOTAL */
/* menu ver 3.15b 2010 */
/* MENU OUTER TABLE - BACKGROUND & TOP & BOTTOM MENU BORDERS */
.menutable {
	background-image: url("../picts/teal/menu.gif");
	background-color: #07405E;
	white-space: nowrap;
	width: 100%;
	border-top: #013C5A 1px solid;
	border-bottom: #013C5A 1px solid;
	padding: 0px;
	margin: 0px;
}

/* CODE FOR MENU 2ND OUTER TABLE */
#menunav,#menunav ul {
	float: left;
	white-space: nowrap;
	width: 100%;
	list-style: none;
	padding: 0px;
	border: solid #FFFFFF;
	border-width: 0px 0px 0px 0px;
	/* NOTE: BORDERS ABOVE ARE | top | right | bottom | left */
	margin: 0px 0px 0px 0px;
}

/* TOP LEVEL MARGINS, FONT FACE & FONT COLORS & PADDING */
#menunav a {
	color: #9CB4C0;
	font: 11px arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding: 5px 5px 6px 5px;
	width: auto;
	display: block;
	cursor: pointer;
}

/* TOP LEVEL BACKROUND COLOR AND BORDERS - EDIT MENU IMAGES ALSO */
#menunav li {
	background-image: url("../picts/teal/menu.gif");
	background-color: #07405E;
	border-right: #446171 0px solid;
	float: left;
	padding: 0px;
}

/* TOP LEVEL HOVER FONT COLOR */
#menunav li a:hover {
	background-image: url("../picts/teal/menuon.gif");
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}

/* TOP LEVEL HOVER BACKGROUND COLOR AND BORDERS - EDIT MENU IMAGES ALSO */
#menunav li:hover,#menunav li.IEMhover {
	background-color: #4F7387;
	background-image: url("../picts/teal/menuon.gif");
	border: solid #4F7387;
	border-width: 0px 0px 0px 0px; /* THIS IS A RIGHT BORDER */
	/* NOTE: BORDERS ABOVE ARE | top | right | bottom | left */
}

/* SUB LEVEL FONT & FONT COLOR & PADDING */
#menunav li ul a {
	font: 11px verdana, arial, sans-serif;
	color: #013C5A;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
	padding: 4px 0px 4px 0px;
	text-indent: 8px;
	cursor: pointer;
}

/* SUB LEVEL FONT HOVER COLOR */
#menunav li ul a:hover {
	background-image: none;
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}

/* SUB LEVEL OUTER BORDER */
#menunav li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 250px;
	border: solid #013C5A;
	border-width: 1px 1px 1px 1px;
	/* NOTE: BORDERS ABOVE ARE | top | right | bottom | left */
	margin: 0;
}

/* SUB LEVEL BACKGROUND COLOR & BORDER OPTION FOR EACH LINK */
#menunav li ul li {
	background-image: none;
	background-color: #FFFFFF;
	border: solid #C0C0C0;
	border-width: 0px 0px 0px 0px;
	/* NOTE: BORDERS ABOVE ARE | top | right | bottom | left */
}

/* SUB LEVEL HOVER BACKGROUND AND BORDERS */
#menunav li ul li:hover,#menunav li ul li.IEMhover {
	background-image: none;
	background-color: #4F7387;
	border: solid #C0C0C0;
	border-width: 0px 0px 0px 0px;
	/* NOTE: BORDERS ABOVE ARE | top | right | bottom | left */
}

/* SUB MENU WIDTH - ALSO EDIT TWO BELOW AND ONE ABOVE TO MATCH */
#menunav li li {
	padding-right: 0px;
	width: 250px;
}

/* SUB MENU LINK WIDTH */
#menunav li ul a {
	width: 250px;
}

/* FOR 3rd LEVEL MENU LOCATION */
#menunav li ul ul {
	margin: -21px 0px 0px 250px;
}

#menunav li:hover ul ul,#menunav li:hover ul ul ul,#menunav li.IEMhover ul ul,#menunav li.IEMhover ul ul ul
	{
	left: -999em;
}

#menunav li:hover ul,#menunav li li:hover ul,#menunav li li li:hover ul,#menunav li.IEMhover ul,#menunav li li.IEMhover ul,#menunav li li li.IEMhover ul
	{
	left: auto;
}

/* FOR 3rd LEVEL ARROW */
#menunav a.parent {
	background: url(../picts/menu-arrow.gif) center right no-repeat;
}

#menunav a.parent:hover {
	background: url(../picts/menu-arrow.gif) center right no-repeat;
}